<% if flash[:danger] %><div class="alert alert-danger" role="alert">
<p><%= flash[:danger] %></p>

<% end %>


<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'email' %>
  <%= text_field_tag 'email', @user %>
  <br /> <br />

  <%= label_tag 'password' %>
  <%= password_field_tag 'password', @user %>
  <br /> <br />

  <%= submit_tag 'Create Session' %>

<% end %>