<% if flash.now[:danger] %><div class="alert alert-danger" role="alert">
<p><%= flash.now[:danger]%>
<ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>  
  <% @user = "" %>
</ul></p></div>

<% end %>

<h1 class="text-center">Formulaire d'inscription</h1>
</br>

<div class="container w-50">
<%= form_tag url_for(action: 'create'), method: "post" do %>
  <div class="form-group">
  <%= label_tag 'email' %>
  <%= email_field_tag 'email', @user, class: 'form-control' %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'first_name' %>
  <%= text_field_tag 'first_name', @user, class: 'form-control' %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'last_name' %>
  <%= text_field_tag 'last_name', @user, class: 'form-control' %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'Ville' %>
  <%= number_field_tag 'city', @user, class: 'form-control', min: 1 %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'Age' %>
  <%= number_field_tag 'age', @user, class: 'form-control', min: 18 %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'password' %>
  <%= password_field_tag 'password', @user, class: 'form-control' %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'password confirmation' %>
  <%= password_field_tag 'password_comfirmation', @user, class: 'form-control' %>
  </div>
   
  <div class="form-group">
  <%= label_tag 'description' %>
  <%= text_area_tag 'description', @user, class: 'form-control' %>
  </div>
   
  <div class="form-group">
  <%= submit_tag "S'inscrire", class: 'btn btn-primary'  %>
  </div>

<% end %>
</div>